@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-gray-900 min-h-screen;
  }
}

/* Smooth transitions globally */
* {
  @apply transition-colors duration-200;
}
